<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="id">
	{$id_editcontrol}
	</control>
	<control field="date">
	{$date_editcontrol}
	</control>
	<control field="time">
	{$time_editcontrol}
	</control>
	<control field="time_period">
	{$time_period_editcontrol}
	</control>
	<control field="type">
	{$type_editcontrol}
	</control>
	<control field="duration">
	{$duration_editcontrol}
	</control>
	<control field="intensity">
	{$intensity_editcontrol}
	</control>
	<control field="comment">
	{$comment_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>