<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="date">
	{$date_editcontrol}
	</control>
	<control 
	field="time">
	{$time_editcontrol}
	</control>
	<control 
	field="time_period">
	{$time_period_editcontrol}
	</control>
	<control 
	field="type">
	{$type_editcontrol}
	</control>
	<control 
	field="doseage">
	{$doseage_editcontrol}
	</control>
	<control 
	field="inject_type">
	{$inject_type_editcontrol}
	</control>
	<control 
	field="comment">
	{$comment_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
