<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="id">
	{$id_editcontrol}
	</control>
	<control field="date">
	{$date_editcontrol}
	</control>
	<control field="type">
	{$type_editcontrol}
	</control>
	<control field="result">
	{$result_editcontrol}
	</control>
	<control field="unit">
	{$unit_editcontrol}
	</control>
	<control field="range">
	{$range_editcontrol}
	</control>
	<control field="comments">
	{$comments_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>