<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="id">
	{$id_editcontrol}
	</control>
	<control field="date">
	{$date_editcontrol}
	</control>
	<control field="time">
	{$time_editcontrol}
	</control>
	<control field="meal">
	{$meal_editcontrol}
	</control>
	<control field="food_item">
	{$food_item_editcontrol}
	</control>
	<control field="svgs">
	{$svgs_editcontrol}
	</control>
	<control field="carbs">
	{$carbs_editcontrol}
	</control>
	<control field="totalcarbs">
	{$totalcarbs_editcontrol}
	</control>
	<control field="favorite">
	{$favorite_editcontrol}
	</control>
	<control field="comment">
	{$comment_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>