<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="medication">
	{$medication_editcontrol}
	</control>
	<control 
	field="dose">
	{$dose_editcontrol}
	</control>
	<control 
	field="filled_on">
	{$filled_on_editcontrol}
	</control>
	<control 
	field="refill_due">
	{$refill_due_editcontrol}
	</control>
	<control 
	field="parmacy">
	{$parmacy_editcontrol}
	</control>
	<control 
	field="doctor">
	{$doctor_editcontrol}
	</control>
	<control 
	field="prescrp_no">
	{$prescrp_no_editcontrol}
	</control>
	<control 
	field="hide">
	{$hide_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
