<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="read_date">
	{$read_date_editcontrol}
	</control>
	<control field="read_time">
	{$read_time_editcontrol}
	</control>
	<control field="time_period">
	{$time_period_editcontrol}
	</control>
	<control field="glucose_value">
	{$glucose_value_editcontrol}
	</control>
	<control field="sample_site">
	{$sample_site_editcontrol}
	</control>
	<control field="last_meal">
	{$last_meal_editcontrol}
	</control>
	<control field="comment">
	{$comment_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>