<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="id">
	{$id_editcontrol}
	</control>
	<control field="first_name">
	{$first_name_editcontrol}
	</control>
	<control field="last_name">
	{$last_name_editcontrol}
	</control>
	<control field="address1">
	{$address1_editcontrol}
	</control>
	<control field="address2">
	{$address2_editcontrol}
	</control>
	<control field="address3">
	{$address3_editcontrol}
	</control>
	<control field="city">
	{$city_editcontrol}
	</control>
	<control field="state">
	{$state_editcontrol}
	</control>
	<control field="zip">
	{$zip_editcontrol}
	</control>
	<control field="email">
	{$email_editcontrol}
	</control>
	<control field="phonetype">
	{$phonetype_editcontrol}
	</control>
	<control field="phonenumber">
	{$phonenumber_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>